{% extends "transportation/layout.html" %}
{% load static %}

{% block body %}

<div style="display:flex; justify-content: center; padding-top: 2rem; padding-bottom: 2rem; border: 1px solid black; border-radius: .5rem; ">
  <h1 style="text-align: center; font-size: 2rem;">
   United States House of Representatives Elections
  </h1>
</div>


<div style="display: flex; justify-content: center; margin-top: 3.5em">
     <h2 style="display: flex; justify-content:center; font-size: 1.7rem;">Do They Believe in Public Transportation? </h2>
  </div>




<div style="display: flex; justify-content:center;">
<p style="font-size: 1.5rem;width: 70%;">I built an algorithm that displays whether or not politicians mention any form of public transportation on their website!! Of course this project
is still a work in progresss. I only have a couple of states at the moment. The reason being is because there is still more testing to be done! Click on the buttons below to get started:
</p>
</div>

<div style="display: flex; justify-content:center;"">
<form action="" method="POST">
   {% csrf_token %}

<button class="btn btn-secondary" type="submit" name="Washington" value="Washington">Washington</button>
<button class="btn btn-secondary" type="submit" name="Hawaii" value="Hawaii">Hawaii</button>

</form>
</div>

<br>
<div style="display: flex; justify-content:center;"">
<p style="font-size:  1.5rem; width: 70%;">Lastly, I wanted to explain what it means to believe in public transportation. 
Well, when I think of Public Transportation we think of some few key words. For me it's a variety of travel options like buses, subways, and light-rail, trains, biking infrastructure, and pedestrian friendly infrastructure.
My algorithm looks for these specific words through Python Regex and BeautifulSoup. To find out more about the details of the project contact me or visit <a href="https://github.com/alexcodes11/General-Elections">https://github.com/alexcodes11/General-Elections</a>
</p>
</div>






{% endblock %}