{% extends "transportation/layout.html" %} 
{% load static %} 
{% block body %}

<div style="background-color: #fff; padding-top: 4rem; padding-bottom: 4rem">
  <h1 style="text-align: center; font-size: 2rem;">
    {{state}}'s House of Representatives that Believe in Public Transportation!
  </h1>

  <div style="display: flex; justify-content: center; margin-top: 2em">
      <a class="btn" href="{% url 'state' state %}">Go Back</a>
  </div>
</div>

{% if results|length == 0 %} 
<div class="card-grid-quote">

  <div class="quote-card card-shadow">
    <cite class="quote-body">
        None of the House of Representatives in the state of {{state}} believe in public transportation.
    </cite>
    <div class="quote-footer">
       <i class='fa-solid fa-xmark red-color fa-4x'></i>
    </div>
</div>

</div>  
{% else %}


{% for result, value in results.items %}

<div class="myheader">
  <h2>{{result}}</h2>
</div>

<br />

<div class="card-grid">
  {% for row in value %}
  <div class="card card-shadow">
    <div class="card-header">{{row.full_name}}</div>
    <div class="card-readmore">{{row.party }}</div>
<div style="height:6.25rem">
    {% if row.website == None %}
    <div class="card-body">
      Politician does NOT have a website.
    </div>
    <i class='fa-solid fa-xmark red-color fa-4x'></i>
    {% else %}
          {% if row.transportation_set.get.quotes == None %}
              <div class="card-body">
              Politician does NOT mention public transportation.
              </div>
              <i class='fa-solid fa-xmark red-color fa-4x'></i>
          {% else %}
              <div class="card-body">
              Politician mentions public transportation!!!
              </div>
              <i class='fa fa-check green-color fa-4x'></i>
          {% endif %}

    {% endif %} 
</div>
    <div class="card-footer">
      {% if row.transportation_set.get.quotes == None %}
      <button onclick="view('{{row.politician_id}}')" class="btn">
        View Quotes
      </button>
      {% else %}
      <a href="{% url 'quotes' row.politician_id %}" target="_blank" rel="noopener noreferrer"  class="btn">View Quotes</a> 
      {% endif %}

      {% if row.website == None %}
       <button class="btn btn-outline" target="_blank" rel="noopener noreferrer"  onclick="view('{{row.politician_id}}')"">View Website</button>
       {% else %}
       <a class="btn btn-outline" target="_blank" rel="noopener noreferrer" href="{{row.website}}">View Website</a>
       {% endif %} 
    </div>
    <div class="modal" id="{{row.politician_id}}">
      <div class="modal-header">
        <div class="title">No Quotes: </div>
        <button onclick="view('{{row.politician_id}}')" class="close-button">
          &times;
        </button>
      </div>
      
    {% if row.website == None %}
    <div style="height:6.25rem">
      <div class="modal-body">
        Politician does NOT have a website.
      </div>
      <i class='fa-solid fa-xmark red-color fa-4x'></i>
    </div>
    {% else %}
          {% if row.transportation_set.get.quotes == None %}
              <div style="height:6.25rem">
                <div class="modal-body">
                 Politician does NOT mention public transportation on their website.
                </div>
                <i class='fa-solid fa-xmark red-color fa-4x'></i>
              </div>
          {% endif %}

    {% endif %} 


    </div>
  </div>
  {% endfor %}
  <div id="overlay"></div>
</div>

{% endfor %}

{% endif %}

<script>
  function view(id) {
    var modal = document.getElementById(id);
    var overlay = document.getElementById("overlay");

    if (modal.classList.length == 2) {
      modal.classList.remove("active");
      overlay.classList.remove("active");
    } else {
      modal.classList.add("active");
      overlay.classList.add("active");

      if (modal.classList.length == 2) {
        overlay.addEventListener("click", () => {
          modal.classList.remove("active");
          overlay.classList.remove("active");
        });
      }
    }
  }
</script>

{% endblock %}
