{% extends "transportation/layout.html" %} 
{% load static %} 


{% block body %}
<div style="background-color: #fff; padding-top: 3rem; padding-bottom: 3rem">
  <h1 style="text-align: center; font-size: 2rem;">
   {{person}}'s Quotes
  </h1>
</div>


{% for array in quotes %}
<div class="card-grid-quote">

  {% for quote in array.quotes %}
  <div class="quote-card card-shadow">
    
    <div class="quote-body">
      {{quote}}
    </div>

    <div class="quote-footer">

    </div>

    </div>
    {% endfor %}


    <div class="quote-card card-shadow">
    
    <div class="quote-body">
      Information found on: 
    </div>


  {% for web in array.website_found %} 
    <cite class="quote-footer">
      {{  web }}
    </cite>
  {% endfor %}
    </div>


  </div>

{% endfor %}








{% endblock %}